:root {
  --page-background-color: #ffffff;
  --page-text-color: #000000;
  --link-color: #0071b3;
  --link-hover-color: #005586;
  --link-active-color: #c60c46;
  --link-focus-color: #202024;
  --link-focus-background: #ffb400;
  --link-focus-outline: 3px solid #ffb400;
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-background-color: #282729;
    --page-text-color: #f0f0f0;
    --link-color: #00c5db;
    --link-hover-color: #00aecd;
    --link-active-color: #c60c46;
    --link-focus-color: #e6e6e9;
    --link-focus-background: #ffb400;
    --link-focus-outline: 3px solid #ffb400;
  }
}
.dark {
  --page-background-color: #282729;
  --page-text-color: #f0f0f0;
  --link-color: #00c5db;
  --link-hover-color: #00aecd;
  --link-active-color: #c60c46;
  --link-focus-color: #e6e6e9;
  --link-focus-background: #ffb400;
  --link-focus-outline: 3px solid #ffb400;
  background-color: var(--page-background-color);
}

.bg-color-name {
  background-color: #00539b;
}

.textcolor-name {
  color: #00539b;
}

.bg-color-name {
  background-color: #407eb4;
}

.textcolor-name {
  color: #407eb4;
}

.bg-color-name {
  background-color: #80a9cd;
}

.textcolor-name {
  color: #80a9cd;
}

.bg-color-name {
  background-color: #003e74;
}

.textcolor-name {
  color: #003e74;
}

.bg-color-name {
  background-color: #0071b3;
}

.textcolor-name {
  color: #0071b3;
}

.bg-color-name {
  background-color: #4095c6;
}

.textcolor-name {
  color: #4095c6;
}

.bg-color-name {
  background-color: #80b8d9;
}

.textcolor-name {
  color: #80b8d9;
}

.bg-color-name {
  background-color: #005586;
}

.textcolor-name {
  color: #005586;
}

.bg-color-name {
  background-color: #ea1a13;
}

.textcolor-name {
  color: #ea1a13;
}

.bg-color-name {
  background-color: #ef534e;
}

.textcolor-name {
  color: #ef534e;
}

.bg-color-name {
  background-color: #f58d89;
}

.textcolor-name {
  color: #f58d89;
}

.bg-color-name {
  background-color: #b0140e;
}

.textcolor-name {
  color: #b0140e;
}

.bg-color-name {
  background-color: #202024;
}

.textcolor-name {
  color: #202024;
}

.bg-color-name {
  background-color: #0f0f11;
}

.textcolor-name {
  color: #0f0f11;
}

.bg-color-name {
  background-color: #949494;
}

.textcolor-name {
  color: #949494;
}

.bg-color-name {
  background-color: #dedede;
}

.textcolor-name {
  color: #dedede;
}

.bg-color-name {
  background-color: #f0f0f0;
}

.textcolor-name {
  color: #f0f0f0;
}

.bg-color-name {
  background-color: #fafafa;
}

.textcolor-name {
  color: #fafafa;
}

.bg-color-name {
  background-color: #ffb400;
}

.textcolor-name {
  color: #ffb400;
}

.bg-color-name {
  background-color: #bf5909;
}

.textcolor-name {
  color: #bf5909;
}

.bg-color-name {
  background-color: #00853f;
}

.textcolor-name {
  color: #00853f;
}

.bg-color-name {
  background-color: #40a46f;
}

.textcolor-name {
  color: #40a46f;
}

.bg-color-name {
  background-color: #80c29f;
}

.textcolor-name {
  color: #80c29f;
}

.bg-color-name {
  background-color: #00642f;
}

.textcolor-name {
  color: #00642f;
}

.bg-color-name {
  background-color: #7b439a;
}

.textcolor-name {
  color: #7b439a;
}

.bg-color-name {
  background-color: #9c72b3;
}

.textcolor-name {
  color: #9c72b3;
}

.bg-color-name {
  background-color: #bda1cd;
}

.textcolor-name {
  color: #bda1cd;
}

.bg-color-name {
  background-color: #5c3274;
}

.textcolor-name {
  color: #5c3274;
}

.bg-color-name {
  background-color: #c60c46;
}

.textcolor-name {
  color: #c60c46;
}

.bg-color-name {
  background-color: #d44974;
}

.textcolor-name {
  color: #d44974;
}

.bg-color-name {
  background-color: #e386a3;
}

.textcolor-name {
  color: #e386a3;
}

.bg-color-name {
  background-color: #950935;
}

.textcolor-name {
  color: #950935;
}

.bg-color-name {
  background-color: #00853f;
}

.textcolor-name {
  color: #00853f;
}

.bg-color-name {
  background-color: #00539b;
}

.textcolor-name {
  color: #00539b;
}

.bg-color-name {
  background-color: #bf5909;
}

.textcolor-name {
  color: #bf5909;
}

.bg-color-name {
  background-color: #ea1a13;
}

.textcolor-name {
  color: #ea1a13;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(//fonts.gstatic.com/s/ptsans/v8/CWlc_g68BGYDSGdpJvpktgLUuEpTyoUstqEm5AMlJo4.woff2) format("woff2"), url("../assets/fonts/pt-sans/regular/PTS55F-webfont.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url(//fonts.gstatic.com/s/ptsans/v8/0XxGQsSc1g4rdRdjJKZrNAzyDMXhdD8sAj6OAJTFsBI.woff2) format("woff2"), url("../assets/fonts/pt-sans/bold/PTS75F-webfont.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: local("PT Sans Italic"), local("PTSans-Italic"), url(//fonts.gstatic.com/s/ptsans/v8/PIPMHY90P7jtyjpXuZ2cLJBw1xU1rKptJj_0jans920.woff2) format("woff2"), url("../assets/fonts/pt-sans/italic/PTS56F-webfont.woff") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: local("PT Sans Bold Italic"), local("PTSans-BoldItalic"), url(//fonts.gstatic.com/s/ptsans/v8/lILlYDvubYemzYzN7GbLkBampu5_7CjHW5spxoeN3Vs.woff2) format("woff2"), url("../assets/fonts/pt-sans/bolditalic/PTS76F-webfont.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  src: local("PT Serif"), local("PTSerif-Regular"), url(//fonts.gstatic.com/s/ptserif/v8/I-OtoJZa3TeyH6D9oli3iXYhjbSpvc47ee6xR_80Hnw.woff2) format("woff2"), url("../assets/fonts/pt-serif/regular/PTF55F-webfont.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  src: local("PT Serif Bold"), local("PTSerif-Bold"), url(//fonts.gstatic.com/s/ptserif/v8/QABk9IxT-LFTJ_dQzv7xpIgp9Q8gbYrhqGlRav_IXfk.woff2) format("woff2"), url("../assets/fonts/pt-serif/bold/PTF75F-webfont.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 400;
  src: local("PT Serif Italic"), local("PTSerif-Italic"), url(//fonts.gstatic.com/s/ptserif/v8/03aPdn7fFF3H6ngCgAlQzAzyDMXhdD8sAj6OAJTFsBI.woff2) format("woff2"), url("../assets/fonts/pt-serif/italic/PTF56F-webfont.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 700;
  src: local("PT Serif Bold Italic"), local("PTSerif-BoldItalic"), url(//fonts.gstatic.com/s/ptserif/v8/Foydq9xJp--nfYIx2TBz9WaVI6zN22yiurzcBKxPjFE.woff2) format("woff2"), url("../assets/fonts/pt-serif/bolditalic/PTF76F-webfont.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 200;
  src: url("https://fonts.gstatic.com/s/materialsymbolsoutlined/v175/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body {
  background-color: var(--page-background-color);
  color: var(--page-text-color);
  font-family: var(--page-font-family);
  font-size: 100%;
}
@media (min-width: 576px) {
  body {
    font-size: 112.5%;
  }
}

h1 {
  font-size: 2.0736em;
  font-weight: 700;
}
@media (min-width: 36em) and (max-width: 75em) {
  h1 {
    font-size: calc(2.0736em + 0.36780625em * (100vw - 36em) / (75em - 36em));
  }
}
@media (min-width: 75em) {
  h1 {
    font-size: calc(2.0736em + 0.36780625em);
  }
}

h2 {
  font-size: 1.728em;
  font-weight: 700;
}
@media (min-width: 36em) and (max-width: 75em) {
  h2 {
    font-size: calc(1.728em + 0.225125em * (100vw - 36em) / (75em - 36em));
  }
}
@media (min-width: 75em) {
  h2 {
    font-size: calc(1.728em + 0.225125em);
  }
}

h3 {
  font-size: 1.44em;
  font-weight: 700;
}
@media (min-width: 36em) and (max-width: 75em) {
  h3 {
    font-size: calc(1.44em + 0.1225em * (100vw - 36em) / (75em - 36em));
  }
}
@media (min-width: 75em) {
  h3 {
    font-size: calc(1.44em + 0.1225em);
  }
}

h4 {
  font-size: 1.2em;
  font-weight: 700;
}
@media (min-width: 36em) and (max-width: 75em) {
  h4 {
    font-size: calc(1.2em + 0.05em * (100vw - 36em) / (75em - 36em));
  }
}
@media (min-width: 75em) {
  h4 {
    font-size: calc(1.2em + 0.05em);
  }
}

h5 {
  font-size: 1em;
  font-weight: 700;
}

h6 {
  font-size: 1em;
  font-weight: 700;
}

a, .link {
  color: var(--link-color);
  text-decoration: underline;
  text-underline-offset: 0.15em;
  transition: color 0.3s ease;
}
a:hover, .link:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}
a:active, .link:active {
  color: var(--link-active-color);
}
a:focus, .link:focus {
  color: var(--link-focus-color);
  background: var(--link-focus-background);
  box-shadow: 0 3px var(--link-focus-background);
  outline: var(--link-focus-outline);
  text-decoration: underline;
}

.text-blue-primary {
  color: #00539b;
}

.text-blue-25-tint {
  color: #407eb4;
}

.text-blue-50-tint {
  color: #80a9cd;
}

.text-blue-25-shade {
  color: #003e74;
}

.text-light-blue-primary {
  color: #0071b3;
}

.text-light-blue-25-tint {
  color: #4095c6;
}

.text-light-blue-50-tint {
  color: #80b8d9;
}

.text-light-blue-25-shade {
  color: #005586;
}

.text-red-primary {
  color: #ea1a13;
}

.text-red-25-tint {
  color: #ef534e;
}

.text-red-50-tint {
  color: #f58d89;
}

.text-red-25-shade {
  color: #b0140e;
}

.text-dark-grey-1 {
  color: #202024;
}

.text-dark-grey-2 {
  color: #0f0f11;
}

.text-grey {
  color: #6a6a6b;
}

.text-mid-grey-1 {
  color: #949494;
}

.text-mid-grey-2 {
  color: #dedede;
}

.text-light-grey-1 {
  color: #f0f0f0;
}

.text-light-grey-2 {
  color: #fafafa;
}

.text-white {
  color: #ffffff;
}

.text-orange-primary {
  color: #ffb400;
}

.text-dark-orange {
  color: #bf5909;
}

.text-green-primary {
  color: #00853f;
}

.text-green-25-tint {
  color: #40a46f;
}

.text-green-50-tint {
  color: #80c29f;
}

.text-green-25-shade {
  color: #00642f;
}

.text-purple-primary {
  color: #7b439a;
}

.text-purple-25-tint {
  color: #9c72b3;
}

.text-purple-50-tint {
  color: #bda1cd;
}

.text-purple-25-shade {
  color: #5c3274;
}

.text-burgundy-primary {
  color: #c60c46;
}

.text-burgundy-25-tint {
  color: #d44974;
}

.text-burgundy-50-tint {
  color: #e386a3;
}

.text-burgundy-25-shade {
  color: #950935;
}

.text-success {
  color: #00853f;
}

.text-information {
  color: #00539b;
}

.text-warning {
  color: #bf5909;
}

.text-danger {
  color: #ea1a13;
}

.bg-blue-primary {
  background-color: #00539b;
}

.bg-blue-25-tint {
  background-color: #407eb4;
}

.bg-blue-50-tint {
  background-color: #80a9cd;
}

.bg-blue-25-shade {
  background-color: #003e74;
}

.bg-light-blue-primary {
  background-color: #0071b3;
}

.bg-light-blue-25-tint {
  background-color: #4095c6;
}

.bg-light-blue-50-tint {
  background-color: #80b8d9;
}

.bg-light-blue-25-shade {
  background-color: #005586;
}

.bg-red-primary {
  background-color: #ea1a13;
}

.bg-red-25-tint {
  background-color: #ef534e;
}

.bg-red-50-tint {
  background-color: #f58d89;
}

.bg-red-25-shade {
  background-color: #b0140e;
}

.bg-dark-grey-1 {
  background-color: #202024;
}

.bg-dark-grey-2 {
  background-color: #0f0f11;
}

.bg-grey {
  background-color: #6a6a6b;
}

.bg-mid-grey-1 {
  background-color: #949494;
}

.bg-mid-grey-2 {
  background-color: #dedede;
}

.bg-light-grey-1 {
  background-color: #f0f0f0;
}

.bg-light-grey-2 {
  background-color: #fafafa;
}

.bg-white {
  background-color: #ffffff;
}

.bg-orange-primary {
  background-color: #ffb400;
}

.bg-dark-orange {
  background-color: #bf5909;
}

.bg-green-primary {
  background-color: #00853f;
}

.bg-green-25-tint {
  background-color: #40a46f;
}

.bg-green-50-tint {
  background-color: #80c29f;
}

.bg-green-25-shade {
  background-color: #00642f;
}

.bg-purple-primary {
  background-color: #7b439a;
}

.bg-purple-25-tint {
  background-color: #9c72b3;
}

.bg-purple-50-tint {
  background-color: #bda1cd;
}

.bg-purple-25-shade {
  background-color: #5c3274;
}

.bg-burgundy-primary {
  background-color: #c60c46;
}

.bg-burgundy-25-tint {
  background-color: #d44974;
}

.bg-burgundy-50-tint {
  background-color: #e386a3;
}

.bg-burgundy-25-shade {
  background-color: #950935;
}

.bg-success {
  background-color: #00853f;
}

.bg-information {
  background-color: #00539b;
}

.bg-warning {
  background-color: #bf5909;
}

.bg-danger {
  background-color: #ea1a13;
}

.material-icons-outlined {
  font-family: "Material Symbols Outlined", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 1;
  vertical-align: middle;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: row;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 320px) {
  .container {
    max-width: 280px;
  }
}
@media (min-width: 480px) {
  .container {
    max-width: 400px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1366px;
  }
}
.container .row {
  display: contents;
  gap: 20px;
}
.container .row:first-child {
  padding-top: 0px;
}
.container .row:last-child {
  padding-bottom: 0px;
}

.col {
  grid-column: span 12;
}
@media (min-width: 320px) {
  .col.col-1-xxs {
    grid-column: span 1;
  }
  .col.col-2-xxs {
    grid-column: span 2;
  }
  .col.col-3-xxs {
    grid-column: span 3;
  }
  .col.col-4-xxs {
    grid-column: span 4;
  }
  .col.col-5-xxs {
    grid-column: span 5;
  }
  .col.col-6-xxs {
    grid-column: span 6;
  }
  .col.col-7-xxs {
    grid-column: span 7;
  }
  .col.col-8-xxs {
    grid-column: span 8;
  }
  .col.col-9-xxs {
    grid-column: span 9;
  }
  .col.col-10-xxs {
    grid-column: span 10;
  }
  .col.col-11-xxs {
    grid-column: span 11;
  }
  .col.col-12-xxs {
    grid-column: span 12;
  }
}
@media (min-width: 480px) {
  .col.col-1-xs {
    grid-column: span 1;
  }
  .col.col-2-xs {
    grid-column: span 2;
  }
  .col.col-3-xs {
    grid-column: span 3;
  }
  .col.col-4-xs {
    grid-column: span 4;
  }
  .col.col-5-xs {
    grid-column: span 5;
  }
  .col.col-6-xs {
    grid-column: span 6;
  }
  .col.col-7-xs {
    grid-column: span 7;
  }
  .col.col-8-xs {
    grid-column: span 8;
  }
  .col.col-9-xs {
    grid-column: span 9;
  }
  .col.col-10-xs {
    grid-column: span 10;
  }
  .col.col-11-xs {
    grid-column: span 11;
  }
  .col.col-12-xs {
    grid-column: span 12;
  }
}
@media (min-width: 576px) {
  .col.col-1-sm {
    grid-column: span 1;
  }
  .col.col-2-sm {
    grid-column: span 2;
  }
  .col.col-3-sm {
    grid-column: span 3;
  }
  .col.col-4-sm {
    grid-column: span 4;
  }
  .col.col-5-sm {
    grid-column: span 5;
  }
  .col.col-6-sm {
    grid-column: span 6;
  }
  .col.col-7-sm {
    grid-column: span 7;
  }
  .col.col-8-sm {
    grid-column: span 8;
  }
  .col.col-9-sm {
    grid-column: span 9;
  }
  .col.col-10-sm {
    grid-column: span 10;
  }
  .col.col-11-sm {
    grid-column: span 11;
  }
  .col.col-12-sm {
    grid-column: span 12;
  }
}
@media (min-width: 768px) {
  .col.col-1-md {
    grid-column: span 1;
  }
  .col.col-2-md {
    grid-column: span 2;
  }
  .col.col-3-md {
    grid-column: span 3;
  }
  .col.col-4-md {
    grid-column: span 4;
  }
  .col.col-5-md {
    grid-column: span 5;
  }
  .col.col-6-md {
    grid-column: span 6;
  }
  .col.col-7-md {
    grid-column: span 7;
  }
  .col.col-8-md {
    grid-column: span 8;
  }
  .col.col-9-md {
    grid-column: span 9;
  }
  .col.col-10-md {
    grid-column: span 10;
  }
  .col.col-11-md {
    grid-column: span 11;
  }
  .col.col-12-md {
    grid-column: span 12;
  }
}
@media (min-width: 992px) {
  .col.col-1-lg {
    grid-column: span 1;
  }
  .col.col-2-lg {
    grid-column: span 2;
  }
  .col.col-3-lg {
    grid-column: span 3;
  }
  .col.col-4-lg {
    grid-column: span 4;
  }
  .col.col-5-lg {
    grid-column: span 5;
  }
  .col.col-6-lg {
    grid-column: span 6;
  }
  .col.col-7-lg {
    grid-column: span 7;
  }
  .col.col-8-lg {
    grid-column: span 8;
  }
  .col.col-9-lg {
    grid-column: span 9;
  }
  .col.col-10-lg {
    grid-column: span 10;
  }
  .col.col-11-lg {
    grid-column: span 11;
  }
  .col.col-12-lg {
    grid-column: span 12;
  }
}
@media (min-width: 1200px) {
  .col.col-1-xl {
    grid-column: span 1;
  }
  .col.col-2-xl {
    grid-column: span 2;
  }
  .col.col-3-xl {
    grid-column: span 3;
  }
  .col.col-4-xl {
    grid-column: span 4;
  }
  .col.col-5-xl {
    grid-column: span 5;
  }
  .col.col-6-xl {
    grid-column: span 6;
  }
  .col.col-7-xl {
    grid-column: span 7;
  }
  .col.col-8-xl {
    grid-column: span 8;
  }
  .col.col-9-xl {
    grid-column: span 9;
  }
  .col.col-10-xl {
    grid-column: span 10;
  }
  .col.col-11-xl {
    grid-column: span 11;
  }
  .col.col-12-xl {
    grid-column: span 12;
  }
}
@media (min-width: 1440px) {
  .col.col-1-xxl {
    grid-column: span 1;
  }
  .col.col-2-xxl {
    grid-column: span 2;
  }
  .col.col-3-xxl {
    grid-column: span 3;
  }
  .col.col-4-xxl {
    grid-column: span 4;
  }
  .col.col-5-xxl {
    grid-column: span 5;
  }
  .col.col-6-xxl {
    grid-column: span 6;
  }
  .col.col-7-xxl {
    grid-column: span 7;
  }
  .col.col-8-xxl {
    grid-column: span 8;
  }
  .col.col-9-xxl {
    grid-column: span 9;
  }
  .col.col-10-xxl {
    grid-column: span 10;
  }
  .col.col-11-xxl {
    grid-column: span 11;
  }
  .col.col-12-xxl {
    grid-column: span 12;
  }
}

.header-content {
  display: grid;
  align-items: center;
  padding: 10px 0;
  justify-content: left;
}
.header-content .logo {
  height: auto;
  max-width: 300px;
  min-width: 216px;
}

/* Smaller screens (e.g., phones) */
@media (max-width: 600px) {
  .header-content .logo {
    width: 40%;
  }
}
/* Medium screens (e.g., tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
  .header-content .logo {
    width: 40%;
  }
}
/* Large screens */
@media (min-width: 1025px) {
  .header-content .logo {
    width: 40%;
  }
}
footer {
  border-top: 1px solid #6a6a6b;
  background-color: #0f0f11;
  color: #f0f0f0;
  padding: calc(1vw + 1rem) 0 calc(1vw + 1rem) 0;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: left;
  line-height: 1.5;
  width: 100vw;
}
footer .footer-text {
  width: 90%;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
footer .footer-links {
  gap: 0.5rem;
}
footer .footer-links a {
  color: #f0f0f0;
  text-decoration: underline;
  white-space: nowrap;
}
footer .footer-links a:hover, footer .footer-links a:focus {
  text-decoration: none;
}

@media (min-width: 576px) {
  .footer {
    font-size: 16px;
  }
}
.main-content {
  font-family: var(--page-font-family);
}

.bg-color-name {
  background-color: #00539b;
}

.textcolor-name {
  color: #00539b;
}

.bg-color-name {
  background-color: #407eb4;
}

.textcolor-name {
  color: #407eb4;
}

.bg-color-name {
  background-color: #80a9cd;
}

.textcolor-name {
  color: #80a9cd;
}

.bg-color-name {
  background-color: #003e74;
}

.textcolor-name {
  color: #003e74;
}

.bg-color-name {
  background-color: #0071b3;
}

.textcolor-name {
  color: #0071b3;
}

.bg-color-name {
  background-color: #4095c6;
}

.textcolor-name {
  color: #4095c6;
}

.bg-color-name {
  background-color: #80b8d9;
}

.textcolor-name {
  color: #80b8d9;
}

.bg-color-name {
  background-color: #005586;
}

.textcolor-name {
  color: #005586;
}

.bg-color-name {
  background-color: #ea1a13;
}

.textcolor-name {
  color: #ea1a13;
}

.bg-color-name {
  background-color: #ef534e;
}

.textcolor-name {
  color: #ef534e;
}

.bg-color-name {
  background-color: #f58d89;
}

.textcolor-name {
  color: #f58d89;
}

.bg-color-name {
  background-color: #b0140e;
}

.textcolor-name {
  color: #b0140e;
}

.bg-color-name {
  background-color: #202024;
}

.textcolor-name {
  color: #202024;
}

.bg-color-name {
  background-color: #0f0f11;
}

.textcolor-name {
  color: #0f0f11;
}

.bg-color-name {
  background-color: #949494;
}

.textcolor-name {
  color: #949494;
}

.bg-color-name {
  background-color: #dedede;
}

.textcolor-name {
  color: #dedede;
}

.bg-color-name {
  background-color: #f0f0f0;
}

.textcolor-name {
  color: #f0f0f0;
}

.bg-color-name {
  background-color: #fafafa;
}

.textcolor-name {
  color: #fafafa;
}

.bg-color-name {
  background-color: #ffb400;
}

.textcolor-name {
  color: #ffb400;
}

.bg-color-name {
  background-color: #bf5909;
}

.textcolor-name {
  color: #bf5909;
}

.bg-color-name {
  background-color: #00853f;
}

.textcolor-name {
  color: #00853f;
}

.bg-color-name {
  background-color: #40a46f;
}

.textcolor-name {
  color: #40a46f;
}

.bg-color-name {
  background-color: #80c29f;
}

.textcolor-name {
  color: #80c29f;
}

.bg-color-name {
  background-color: #00642f;
}

.textcolor-name {
  color: #00642f;
}

.bg-color-name {
  background-color: #7b439a;
}

.textcolor-name {
  color: #7b439a;
}

.bg-color-name {
  background-color: #9c72b3;
}

.textcolor-name {
  color: #9c72b3;
}

.bg-color-name {
  background-color: #bda1cd;
}

.textcolor-name {
  color: #bda1cd;
}

.bg-color-name {
  background-color: #5c3274;
}

.textcolor-name {
  color: #5c3274;
}

.bg-color-name {
  background-color: #c60c46;
}

.textcolor-name {
  color: #c60c46;
}

.bg-color-name {
  background-color: #d44974;
}

.textcolor-name {
  color: #d44974;
}

.bg-color-name {
  background-color: #e386a3;
}

.textcolor-name {
  color: #e386a3;
}

.bg-color-name {
  background-color: #950935;
}

.textcolor-name {
  color: #950935;
}

.bg-color-name {
  background-color: #00853f;
}

.textcolor-name {
  color: #00853f;
}

.bg-color-name {
  background-color: #00539b;
}

.textcolor-name {
  color: #00539b;
}

.bg-color-name {
  background-color: #bf5909;
}

.textcolor-name {
  color: #bf5909;
}

.bg-color-name {
  background-color: #ea1a13;
}

.textcolor-name {
  color: #ea1a13;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(//fonts.gstatic.com/s/ptsans/v8/CWlc_g68BGYDSGdpJvpktgLUuEpTyoUstqEm5AMlJo4.woff2) format("woff2"), url("../assets/fonts/pt-sans/regular/PTS55F-webfont.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url(//fonts.gstatic.com/s/ptsans/v8/0XxGQsSc1g4rdRdjJKZrNAzyDMXhdD8sAj6OAJTFsBI.woff2) format("woff2"), url("../assets/fonts/pt-sans/bold/PTS75F-webfont.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: local("PT Sans Italic"), local("PTSans-Italic"), url(//fonts.gstatic.com/s/ptsans/v8/PIPMHY90P7jtyjpXuZ2cLJBw1xU1rKptJj_0jans920.woff2) format("woff2"), url("../assets/fonts/pt-sans/italic/PTS56F-webfont.woff") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: local("PT Sans Bold Italic"), local("PTSans-BoldItalic"), url(//fonts.gstatic.com/s/ptsans/v8/lILlYDvubYemzYzN7GbLkBampu5_7CjHW5spxoeN3Vs.woff2) format("woff2"), url("../assets/fonts/pt-sans/bolditalic/PTS76F-webfont.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  src: local("PT Serif"), local("PTSerif-Regular"), url(//fonts.gstatic.com/s/ptserif/v8/I-OtoJZa3TeyH6D9oli3iXYhjbSpvc47ee6xR_80Hnw.woff2) format("woff2"), url("../assets/fonts/pt-serif/regular/PTF55F-webfont.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  src: local("PT Serif Bold"), local("PTSerif-Bold"), url(//fonts.gstatic.com/s/ptserif/v8/QABk9IxT-LFTJ_dQzv7xpIgp9Q8gbYrhqGlRav_IXfk.woff2) format("woff2"), url("../assets/fonts/pt-serif/bold/PTF75F-webfont.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 400;
  src: local("PT Serif Italic"), local("PTSerif-Italic"), url(//fonts.gstatic.com/s/ptserif/v8/03aPdn7fFF3H6ngCgAlQzAzyDMXhdD8sAj6OAJTFsBI.woff2) format("woff2"), url("../assets/fonts/pt-serif/italic/PTF56F-webfont.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 700;
  src: local("PT Serif Bold Italic"), local("PTSerif-BoldItalic"), url(//fonts.gstatic.com/s/ptserif/v8/Foydq9xJp--nfYIx2TBz9WaVI6zN22yiurzcBKxPjFE.woff2) format("woff2"), url("../assets/fonts/pt-serif/bolditalic/PTF76F-webfont.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 200;
  src: url("https://fonts.gstatic.com/s/materialsymbolsoutlined/v175/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.category-header {
  background-color: #0071b3;
  color: #ffffff;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}
.category-header a {
  color: inherit;
  text-decoration: none;
}
.category-header a:hover {
  text-decoration: underline;
}
.category-header a:active, .category-header a.selected {
  color: var(--link-focus-color);
  background-color: var(--link-focus-background);
}

.breadcrumbs {
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.breadcrumbs ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center; /* This ensures all items are aligned on the same line */
}

.breadcrumbs li {
  display: flex;
  align-items: center; /* Aligns the text and icons vertically */
}

.breadcrumbs li:not(:first-child)::before {
  display: inline-block;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  content: "chevron_right";
  font-family: "Material Symbols Outlined";
  font-feature-settings: "liga";
}

html, body {
  height: 100%;
  margin: 0;
}

.page-container {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.website-footer {
  border-top: 1px solid #6a6a6b;
  grid-row-start: 2;
  grid-auto-flow: row;
  background-color: #202024;
  color: #f0f0f0;
  padding: calc(1vw + 1rem) 0;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: left;
  line-height: 1.5;
}
.website-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.image {
  max-width: 100%;
}

.navbox {
  width: 100%;
}
.navbox .navbox-image {
  width: 100%;
  min-width: 250px;
  margin-bottom: 0;
}
.navbox .navbox-title {
  width: 100%;
  min-width: 250px;
  background-color: #0071b3;
  margin-top: -5px;
  padding: 5px, 5px, 5px, 5px;
}
.navbox a {
  color: white;
  padding: 5px 5px 5px 5px;
}
.navbox h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.navigation-bar {
  width: 100%;
  margin: 0;
  padding: 0;
}
.navigation-bar-primary {
  background-color: #00539b;
}
.navigation-bar-secondary {
  background-color: #0071b3;
}
.navigation-bar-nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.navigation-bar-nav.primary-nav {
  background-color: #00539b;
  margin-bottom: 3px;
  margin-top: 3px;
}
.navigation-bar-nav.primary-nav li {
  flex: 1;
  text-align: center;
  margin-right: 3px;
}
.navigation-bar-nav.primary-nav li:first-child {
  padding-left: 0;
}
.navigation-bar-nav.primary-nav li a {
  display: block;
  padding: 10px 10px 10px;
  text-decoration: none;
  color: white;
  white-space: nowrap;
}
.navigation-bar-nav.primary-nav li a:hover {
  text-decoration: underline;
  background-color: #003e74;
}
.navigation-bar-nav.primary-nav li a:active, .navigation-bar-nav.primary-nav li a.selected {
  border-radius: var(--link-focus-outline);
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  background-color: #0071b3;
}
.navigation-bar-nav.secondary-nav {
  background-color: #0071b3;
  margin-bottom: 3px;
  margin-top: 3px;
}
.navigation-bar-nav.secondary-nav li {
  flex: 1;
  text-align: center;
  margin-right: 3px;
}
.navigation-bar-nav.secondary-nav li:first-child {
  padding-left: 0;
}
.navigation-bar-nav.secondary-nav li a {
  display: block;
  padding: 10px 10px 10px;
  text-decoration: none;
  color: white;
  white-space: nowrap;
}
.navigation-bar-nav.secondary-nav li a:hover {
  text-decoration: underline;
  background-color: #003e74;
}
.navigation-bar-nav.secondary-nav li a:active, .navigation-bar-nav.secondary-nav li a.selected {
  border-radius: var(--link-focus-outline);
  -webkit-border-radius: var(--link-focus-outline);
  -moz-border-radius: var(--link-focus-outline);
  -ms-border-radius: var(--link-focus-outline);
  -o-border-radius: var(--link-focus-outline);
  background-color: #0071b3;
  color: #003e74;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}
.pagination .page-link {
  display: block;
  padding: 8px 16px;
  margin-bottom: 20px;
  border: 1px solid #202024;
  background-color: white;
  color: #00539b;
  text-decoration: none;
  font-weight: bold;
  font-family: var(--page-font-family);
  transition: background-color 0.3s, color 0.3s;
}
.pagination .page-link:hover {
  background-color: #00539b;
  color: white;
}

.horizontal-list {
  background-color: white;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.horizontal-list li {
  color: #0f0f11;
}
.horizontal-list li:not(:last-child) {
  margin-right: 5px;
}
.horizontal-list li:not(:last-child):after {
  content: "|";
  color: #949494;
  margin-left: 5px;
}
.horizontal-list li a {
  text-decoration: underline;
  color: inherit;
}

.article-header {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  border-bottom: 1px #dedede solid;
  margin-bottom: calc(1.5vw + 1rem);
}

.article-header h1 {
  margin-bottom: 0.75rem;
}
.article-header img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  overflow: hidden;
  position: relative;
  margin-right: 10px;
}
.article-header .meta {
  display: flex;
}

.alert {
  border: 5px solid #6a6a6b;
  padding: 20px;
  margin-bottom: 20px;
}
.alert.success {
  border-color: #00853f;
}
.alert.info {
  border-color: #00539b;
}
.alert.warning {
  border-color: #bf5909;
}
.alert.danger {
  border-color: #ea1a13;
}
.alert h2, .alert h3, .alert h4, .alert h5, .alert h6 {
  font-size: 1.44em;
  margin: 0 0 10px 0;
}
@media (min-width: 36em) and (max-width: 75em) {
  .alert h2, .alert h3, .alert h4, .alert h5, .alert h6 {
    font-size: calc(1.44em + 0.1225em * (100vw - 36em) / (75em - 36em));
  }
}
@media (min-width: 75em) {
  .alert h2, .alert h3, .alert h4, .alert h5, .alert h6 {
    font-size: calc(1.44em + 0.1225em);
  }
}
.alert p {
  margin: 0;
}

.callout {
  border-left: 5px solid #6a6a6b;
  padding: 20px;
  margin-bottom: 20px;
}
.callout.success {
  border-color: #00853f;
}
.callout.info {
  border-color: #00539b;
}
.callout.warning {
  border-color: #bf5909;
}
.callout.danger {
  border-color: #ea1a13;
}
.callout h2, .callout h3, .callout h4, .callout h5, .callout h6 {
  font-size: 1.44em;
  margin: 0 0 10px 0;
}
@media (min-width: 36em) and (max-width: 75em) {
  .callout h2, .callout h3, .callout h4, .callout h5, .callout h6 {
    font-size: calc(1.44em + 0.1225em * (100vw - 36em) / (75em - 36em));
  }
}
@media (min-width: 75em) {
  .callout h2, .callout h3, .callout h4, .callout h5, .callout h6 {
    font-size: calc(1.44em + 0.1225em);
  }
}
.callout p {
  margin: 0;
}

.accordion-group {
  margin-bottom: 1.2em;
}
.accordion-group details {
  border-top: 1px solid #0f0f11;
}
.accordion-group details:last-child {
  border-bottom: 1px solid #0f0f11;
}
.accordion-group details > summary {
  font-size: 1.2em;
  font-weight: 700;
  color: #0071b3;
  cursor: pointer;
  padding: 15px;
  list-style: none;
}
@media (min-width: 36em) and (max-width: 75em) {
  .accordion-group details > summary {
    font-size: calc(1.2em + 0.05em * (100vw - 36em) / (75em - 36em));
  }
}
@media (min-width: 75em) {
  .accordion-group details > summary {
    font-size: calc(1.2em + 0.05em);
  }
}
.accordion-group details > summary:hover {
  text-decoration: underline;
}
.accordion-group details > summary:focus {
  outline: 3px solid #ffb400;
  text-decoration: underline;
}
.accordion-group details > summary::before {
  float: right;
  content: "expand_more";
  font-family: "Material Symbols Outlined";
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
  color: #0f0f11;
}
.accordion-group details[open] > summary::before {
  content: "expand_less";
  font-family: "Material Symbols Outlined";
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga";
}
.accordion-group details .accordion-content {
  padding: 15px;
}
.accordion-group details .accordion-content > :first-child {
  margin-top: 0;
}
.accordion-group details .accordion-content > :last-child {
  margin-bottom: 0;
}
.accordion-group:has(> .accordion-group-open) details:first-of-type {
  clear: both;
}

.accordion-group-open {
  font-family: var(--page-font-family);
  color: #0071b3;
  border: none;
  background: none;
  font-size: 1em;
  margin-bottom: 0.5rem;
  text-decoration: underline;
  float: right;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
