---
import { SITE } from '../../config';
import SkipToContent from './SkipToContent.astro';
import DocSearchReact from './DocSearchReact';

const { currentPage } = Astro.props;
---

<header>
	<SkipToContent />
	<header class="container" style="display: flex; justify-content: space-between; align-items:center;">
		<!-- todo: add style to header in dpl -->
        <div class="col-12 header-content">
            <img src="https://design.st-andrews.ac.uk/assets/images/university-of-st-andrews-logo-foundation.svg" alt="University of St Andrews Logo" class="logo">
			<!-- Algolia Docsearch component (Header/DocSearchReact) -->
		</div>
		<DocSearchReact client:only="react"/>
    </header>
</div>
</header>
