---
import { SITE } from '../../config';
import SkipToContent from './SkipToContent.astro';
import DocSearchReact from './DocSearchReact';
import '../../styles/main.scss';
import '../../styles/main.css';


const { currentPage } = Astro.props;
---

<header class="container">
    <SkipToContent/>
    <div class="row">
        <div class="col col-12 header-content" style="display: flex; justify-content: space-between; align-items: center;">
            <img src="https://design.st-andrews.ac.uk/assets/images/university-of-st-andrews-logo-foundation.svg" alt="University of St Andrews Logo" class="logo">
            <DocSearchReact client:only="react"/>
        </div>
    </div>
</header>

<div class="category-header">
    <div class="container">
        <div class="row">
    <div class="col col-12-lg col-12-xxs">
		<!--Style for index page disappears when navigating from here: -->
        <!-- <h2><a href="/">Standards</a></h2> -->
		<h2>Standards</h2>
        </div>
    </div>
    </div>
    </div>
