---
const { content, githubEditUrl } = Astro.props;
const title = content.title;
// const headers = content.astro.headers;
---
<!-- Main Content -->
<div class="container">
	<div class="col-12">
<article>
	<section>
		<slot />
	</section>
</article>
</div>
</div>

