---
const { content, githubEditUrl } = Astro.props;
const title = content.title;
// const headers = content.astro.headers;
---

<article id="article" class="content col col-10-md col-8-xs">
	<section class="main-section">
		<!-- <nav class="block sm:hidden">
		</nav> -->
		<slot />
	</section>
</article>

